:root {
    --grey: #363636;
}

nav {
    background-color: black;
    justify-content: space-between;
    padding: 5px 5px;
}

#spotify-logo {
    padding: 0px 10px;
}

#home-icon-btn {
    background-color: var(--grey);
    border-radius: 50%;
    padding: 8px 10px;
    border: var(--grey);
    cursor: pointer;
}

#home-icon {
    height: 20px;
}

#home-icon-btn:hover {
    transform: scale(1.03);
}

.search-bar {
    background-color: var(--grey);
}

.search-box {
    position: relative;
}

#nav-search-box {
    background-color: var(--grey);
    border: 1px solid var(--grey);
    padding: 10px;
    padding-left: 40px;
    padding-right: 50px;
    border-radius: 35px;
    width: 24rem;
    font-size: 0.9rem;
    color: white;
}

#nav-search-box:hover {
    background-color: rgba(56, 56, 56, 0.8);
    cursor: pointer;
}

#nav-search-box::-webkit-search-cancel-button {
    appearance: none;
}

.search-icon {
    position: absolute;
    height: 22px;
    top: 8px;
    left: 12px;
    font-size: 1.2rem;
}

.partOne {
    gap: 8px;
}

#browse-icon {
    height: 22px;
    position: absolute;
    top: 9px;
    right: 20px;
    cursor: pointer;
}

#explore {
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
    transition: transform 0.8s;
}

#explore:hover {
    transform: scale(1.05);
}

#install-icon {
    height: 18px;
}

#install-btn {
    background-color: black;
    color: white;
    border: transparent;
    font-weight: bold;
    cursor: pointer;
}

.install-btn-container {
    gap: 5px;
    align-items: center;
}

#install-btn:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.install-btn-container:hover {
    transform: scale(1.02);
}

.partTwo {
    gap: 20px;
}

#notify-icon {
    height: 15px;
    cursor: pointer;
}

#profilePic {
    height: 25px;
    padding: 0px;
    padding-right: 10px;
    cursor: pointer;
}

/* left part's nav */
.leftNav{
    height: 25%;
    flex-direction: column;
    justify-content: space-evenly;
}
#library-icon {
    height: 22px;
}

#create-icon {
    height: 13px;
}

#showMore-icon {
    height: 13px;
}

.library {
    justify-content: space-between;
    padding: 10px 20px;
}

#library-txt {
    color: grey;
    font-size: 0.85rem;
}

.librarypart {
    gap: 10px;
}

#library-txt:hover {
    color: rgb(196, 194, 194);
    cursor: pointer;
}

.createShow {
    gap: 20px;
}

.btnleftNavFilter button {
    background-color: var(--grey);
    border: transparent;
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size:0.8rem ;
}

.btnleftNavFilter {
    padding: 0px 15px;
}

.btnleftNavFilter button:hover {
    cursor: pointer;
    background-color: rgba(66, 66, 66, 0.8);
}

/* Left Nav scroll portion nav */
.recentSearch{
    justify-content: space-between;
    padding: 0px 20px;
    padding-top: 10px;
}
#search-icon-recent{
    height:15px;
    filter: invert(0.5);
}
#recent-txt{
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 00;
}
#recent-icon{
    height: 12px;
    filter: invert(0.5);
}
.recent{
    gap: 10px;
}