* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.container {
    gap: 5px;
    margin: 0px 5px;
}

.left {
    width: 30vw;
    height: 75svh;
    background-color: #191919;
}

.right {
    width: 70vw;
    height: 75svh;
    background-color: #222222;
}

/* left nav artist and playlist styles */
#artist-pfp {
    height: 40px;
    border-radius: 50%;
}

#artist-name {
    color: rgb(219, 219, 219);
    font-size: 0.9rem;
    font-weight: 400;
}

.name-title {
    padding-left: 10px;
    font-size: 0.9rem;
}

.artist{
    margin: 15px 0px;
}

#artist-title {
    color: var(--grey);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3px;
}

.artist:hover {
    cursor: pointer;
}

.artistPlaylistContainer {
    padding-left: 15px;
}

.artistPlaylistNav {
    overflow: auto;
    height: 75%;
}

#playlist-pfp{
    height: 40px;
    width: 40px;
    border-radius: 15px;
}

#playlist-name{
    color: rgb(219, 219, 219);
    font-size: 0.9rem;
    font-weight: 400;
}

#playlist-title{
    color: var(--grey);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 3px;
}
.playlist{
    margin: 15px 0px;
}
/* left nav artist and playlist styles */

/* right nav pop artist part*/

.popArtist{
    padding: 35px 17px;
}

.popartistcard{
    border: 2px red solid;
    width: 180px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 0px 10px; */
}

#pop-artist-heading,#pop-artist-name{
    color: white;
}

#popartistpfp{
    width: 150px;
    border-radius: 50%;
}

#pop-artist-title{
    color: var(--grey);
}

.pop-artist-name-title{
    padding-left:10px ;
}

.pop-artists-container{
    margin: 25px 0px;
}