* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
}

body {
    background-color: black;
}

.container {
    gap: 5px;
    margin: 0px 5px;
}

.left {
    width: 35vw;
    height: 75svh;
    background-color: #191919;
}

.right {
    width: 65vw;
}

/* left nav artist and playlist styles */
#artist-pfp {
    height: 50px;
    border-radius: 50%;
}

#artist-name {
    color: rgb(219, 219, 219);
    font-size: 1.1rem;
    font-weight: 400;
}

.name-title {
    padding-left: 10px;
}

#artist-title {
    color: var(--grey);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3px;
}

.artist:hover {
    cursor: pointer;
}

.artistPlaylistContainer {
    padding-left: 15px;
}

.artistPlaylistNav {
    overflow: auto;
    height: 75%;
}
/* left nav artist and playlist styles */