:root{
    --bgColor:#1f1f1f;
    --txtColor:white;

}
.flex{
    display: flex;
}
.border{
    /* border: 3px solid yellow; */
}
.icon{
    height: 10px;
}
.bg-black{
    background-color: var(--bgColor);
    color: var(--txtColor);
}
.invert{
    filter: invert(1);
}
.align-center{
    align-items: center;
}
.b-1{
    border-radius: 10px;
}