:root{
    --bgColor:#1f1f1f;
    --txtColor:white;

}
.flex{
    display: flex;
}
.border{
    /* border: 3px solid yellow; */
}
.icon{
    height: 10px;
}
.bg-black{
    background-color: var(--bgColor);
    color: var(--txtColor);
}
.invert{
    filter: invert(1);
}
.align-center{
    align-items: center;
}
.b-1{
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bgColor);  /* Dark background */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 10px;
  }
